.homeCard {
  height: 100%;
}
.homeCardTop {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  color: white;
}
.homeCardTop img {
  width: 100%;
}

.wordInImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: larger;
  font-weight: bold;
}

.homeCardBottom {
  padding-left: 3rem;
  padding-right: 3rem;
}

.cardLink a {
  text-decoration: none;
  color: black;
}

.cardLink {
    height: 100%;
}


@media (min-width: 768px) {
  .homeCard {
    height: 100%;
  }
  .homeCardTop img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
}
