.incomeCalculationsMain {
  margin: 0 3rem;
  margin-bottom: 5rem;
}

.incomeCalculationsFooter {
  margin: 0 3%;
  font-size: xx-small;
}

.shiftRight {
  text-align: right;
}

@media (min-width: 768px) {
  .incomeCalculationsMain {
    margin: 0 30%;
    margin-bottom: 10rem;
  }
}
