.homeHeader {
  /* background: url("../../images/waterfall.jpg") no-repeat center center fixed; */
  background-image: url("../../images/waterfall.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
  margin-bottom: 2em;
  /* min-width: 100%; */
  /* min-height: 100%; */
}

.homeMain {
  display: block;
  padding: 1rem;
  height: auto;
}

.homeMain .homeMainLeft {
  float: none;
  margin-bottom: 10px;
  text-align: center;
}

.homeMain .homeMainCenter {
  float: none;
  margin-bottom: 10px;
  text-align: center;
}
.homeMain .homeMainRight {
  float: none;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .homeMain {
    display: block;
    overflow: auto;
  }

  .homeHeader {
    background-image: url("../../images/waterfall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    margin-bottom: 2em;
  }

  .col-container {
    display: table;
    width: 100%;
  }

  .col {
    display: table-cell;
    width: 30%;
  }

  .homeMain .homeMainLeft {
    /* float: left;
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 3%;
    height: 100%; */
    margin-left: 3%;
  }

  .homeMain .homeMainCenter {
    /* float: left;
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%; */
    margin-left: 2%;
    margin-right: 2%;
  }
  .homeMain .homeMainRight {
    /* float: right;
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
    margin-right: 3%;
    height: 321px; */
    margin-right: 3%;
  }
}
